.container-details {
  height: 100dvh;
  background-color: #353535;
}

.container-details img {
  max-width: 400px;
  height: 400px;
  object-fit: contain;
  background-color: #454545;
  border-radius: 16px;
}

.container-details .content-details {
  display: flex;
  padding: 64px;
  gap: 32px;
}

.container-details .item-details {
  background-color: #353535;
  color: #f6f6f6;
  padding: 24px 40px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 100dvw;
}

.container-details .item-details p:first-of-type {
  margin: 24px 0;
  font-size: 28px;
}

