.container-details {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: center;
  gap: 32px;
  padding: 32px;
  color: #323232;
  user-select: none;
  max-width: 1200px;
  margin: 0 auto;
}

.container-details .details-content {
  width: 100%;
  padding: 32px;
}

.container-details .details-content h1,
.container-details .details-content .details-buttons {
  display: inline-flex;
  align-items: flex-start;
  width: 69%;
}

.container-details .details-content .details-buttons {
  justify-content: flex-end;
  width: 30%;
}

.container-details .details-content .details-buttons .io-button {
  background-color: #f9ca24;
  padding: 12px;
  border-radius: 50%;
  margin-left: 8px;
  cursor: pointer;
  box-shadow: 2px 2px 4px 1px rgba(0, 0, 0, 0.25);
}

.container-details .details-content .details-buttons .io-button:nth-child(1) {
  background-color: transparent;
  border: 1px solid #d9d9d9;
  padding: 12px;
  border-radius: 50%;
  margin-left: 8px;
}

.container-details .details-content .details-buttons .io-button:hover {
  transition: 0.25s;
  transform: scale(1.1);
}

.container-details .details-content .details-buttons .io-button:active {
  transition: 0.25s;
  transform: scale(1.02);
}

.container-details .details-content p:first-of-type {
  color: #999;
  margin-bottom: 2rem;
}

.container-details .details-content p#price-info {
  color: #232323;
  font-weight: 600;
  font-size: 24px;
  margin-bottom: 2rem;
}

.container-details .details-content p#brand-info,
.container-details .details-content p:last-of-type {
  color: #595959;
}

.container-details img {
  width: 250px;
}

.ReactModalPortal {
  user-select: none;
  color: #232323;
}

.ReactModalPortal h3 {
  color: #232323;
}

.delete-info {
  padding: 16px;
  font-size: 18px;
  max-width: 500px;
  text-align: center;
}

.delete-buttons {
  margin: 16px auto;
  width: fit-content;
}

.delete-buttons button {
  padding: 12px 48px;
  border: none;
  border-radius: 8px;
  background-color: #f9ca24;
  border: 2px solid #f9ca24;
  cursor: pointer;
  font-size: 16px;
}

.delete-buttons button.modal-delete-yes:hover {
  filter: brightness(0.97);
}

.delete-buttons .modal-delete-no {
  margin-left: 8px;
  background-color: transparent;
  color: #f9ca24;
}