.container-home {
  padding: 40px 0;
  user-select: none;
}

.container-home h2 {
  text-align: center;
  margin: 32px auto;
}

.container-input {
  display: flex;
  justify-content: center;
  gap: 16px;
  margin: 32px 16px;
}

.container-input input {
  width: 100%;
  max-width: 500px;
  padding: 8px 16px;
  border-radius: 8px;
  border: none;
  outline: none;
}

.container-input input:focus,
.container-input input:active {
  outline: 1px solid #c6c6c6;
}

.btn-primary-home {
  background-color: rgb(220, 0, 0);
  color: #f6f6f6;
  font-weight: bold;
  padding: 8px 24px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  user-select: none;
}

.btn-primary-home:hover {
  background-color: rgb(200, 0, 0);
}

.btn-primary-home:active {
  background-color: rgb(180, 0, 0);
  transform: translate(1px, 1px);
  transition: background-color 0.25s, transform 0.25s;
}

.container-home-cards {
  color: #f6f6f6;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 40px;
  padding: 64px;
}

.container-home-cards .card-home {
  padding: 16px;
  background-color: red;
  min-width: 250px;
  width: 250px;
  height: 140px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  position: relative;
  border-radius: 8px;
}

.container-home-cards .card-home:last-child {
  background-color: green;
}

.container-home-cards .card-home h2 {
  margin: 0;
  z-index: 2;
}

.container-home-cards .card-home img {
  position: absolute;
  bottom: 8px;
  right: 8px;
  width: 100px;
  z-index: 1;
}

.container-home-cards .card-home:last-child img {
  width: 80px;
  right: 16px;
}

.container-home-cards .card-home button {
  padding: 6px 16px;
  background-color: rgba(0,0,0, 0.25);
  color: #f6f6f6;
  border: none;
  border-radius: 4px;
  box-shadow: 1px 1px 10px rgba(0,0,0, 0.05);
  font-size: 12px;
  z-index: 2;
}