.container-info {
  padding-bottom: 16px ;
}

.container-info h4 {
  font-weight: 400;
  font-size: 24px;
  margin-left: 64px;
}

.container-info-cards .info-card {
  display: flex;
  align-items: center;
  gap: 32px;
  margin: 32px 64px;
  padding: 24px;
  border-radius: 16px;
  border: 1px solid #e0e0e082;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.02);
}

.container-info-cards .info-card .infos h2 {
  font-size: 24px;
  font-weight: 600;
  color: #222;
  margin-bottom: 24px;
}

.container-info-cards .info-card .infos p {
  margin-bottom: 24px;
}

.container-info-cards .btn-primary-info {
  background-color: rgb(220, 0, 0);
  color: #f9f9f9;
  font-size: 16px;
  font-weight: 600;
  padding: 8px 24px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  user-select: none;
}

.container-info-cards .btn-primary-info:hover {
  background-color: rgb(200, 0, 0);
}

.container-info-cards .btn-primary-info:active {
  background-color: rgb(180, 0, 0);
  transform: translate(1px, 1px);
  transition: background-color 0.25s, transform 0.25s;
}