.container-card-product {
  padding: 24px;
  width: 250px;
  height: 350px;
  border-radius: 16px;
  border: 3px solid #f4b336;
  background-color: #6ce5f0;
  color: #252a2d;
  margin: 16px;
  margin-right: 32px;
  margin-bottom: 32px;
  box-shadow: 8px 8px 0px #f4356f;
  transition: 0.1s;

  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: center;
  text-decoration: none;
  user-select: none;
  cursor: pointer;
}

.container-card-product img {
  width: 100%;
  padding: 8px;
}

.container-card-product p {
  font-size: 20px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.35);
  font-weight: 600;
}

.container-card-product:hover {
  box-shadow: 16px 16px 0px #d82e61;
  transition: 0.6s;
  transform: scale(1.05);
}

.container-card-product:active {
  transform: translate(4px,4px);
  box-shadow: 4px 4px 0px #d82e61;
  transition: 0.6s;
}