* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  height: 100%;
  padding: 16px;
  background-color: goldenrod;
}

.subtitle {
  margin: 0;
  font-size: 28px;
  color: #555;
}