.container-home {
  display: flex;
  min-height: 100dvh;
  user-select: none;
}

.container-home .container-form {
  background-color: #450b53;
  display: flex;
  justify-content: center;
  padding: 128px 40px;
  flex: 1;
  min-width: 350px;
  width: 100%;
}

.container-home .container-form form {
  background-color: #f6f6f6;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 24px;
  height: 65dvh;
  width: 100%;
  padding: 40px 24px;
  border-radius: 16px;
  color: #232323;
}

.container-form form h2 {
  font-size: 18px;
  text-align: center;
}

.container-form form > :nth-child(2),
.container-form form > :nth-child(3),
.container-form form > :nth-child(4),
.container-form form > :nth-child(5) {
  font-size: 16px;
  border: none;
  border-bottom: 1px solid #450b53;
  background-color: #f6f6f6;
  padding: 0 4px;
  outline: none;
  color: #232323;
  padding-top: 8px;
}

.container-form form select:hover,
.container-form form input[type="date"]:hover {
  cursor: pointer;
}

.container-form form select:focus,
.container-form form select:active {
  color: #232323;
}

.container-form form button {
  padding: 8px 16px;
  border: none;
  background-color: #450b53;
  color: #f6f6f6;
  letter-spacing: 0.3mm;
  font-size: 14px;
  cursor: pointer;
}

.container-tarefas {
  flex: 3;
  padding: 16px 40px;
}

.container-tarefas h2 {
  display: inline-flex;
  width: 30%;
  margin-top: 32px;
  font-size: 20px;
}

.container-tarefas > p {
  display: inline-flex;
  justify-content: flex-end;
  width: 65%;
  margin-bottom: 32px;
  color: #898989;
}


.container-tarefas ul {
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: center;
}

.container-tarefas ul li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px;
  width: 100%;
  list-style: none;
  border: 1px solid #c9c9c9;
  border-radius: 16px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.10);
}

.container-tarefas ul li .itens-left,
.container-tarefas ul li .itens-right {
  display: flex;
  width: 85%;
  flex-direction: column;
}

.container-tarefas ul li .itens-left p {
  color: #898989;
}

.container-tarefas ul li .itens-left p:first-of-type {
  font-size: 14px;
}

.container-tarefas ul li .itens-left p:last-child {
  margin-top: 16px;
}

.container-tarefas ul li .itens-right {
  align-items: flex-end;
  gap: 16px;
  flex: 1;
  min-width: 110px;
}

.container-tarefas ul li .itens-right > :first-child {
  font-weight: 600;
}

.container-tarefas ul li .itens-right .tarefas-buttons {
  display: flex;
  gap: 8px;
}

.container-tarefas ul li .itens-right .tarefas-buttons .io-button {
  cursor: pointer;
}

.container-tarefas ul li .itens-right .tarefas-buttons .io-button:hover {
  filter: brightness(0.6);
}